.title {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 1.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}
