* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background-color: #1b2f47;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eeeeee;
  border-radius: 14px;
  height: 450px;
  width: 400px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: right linear 0.2s;
  margin: -200px 0 0 -200px;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.account-header {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.account-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 14px;
  background-color: #e2e2e2;
}

.list {
  list-style: disc;
  padding-inline-start: 0;
  color: #13172c;
}

.listitem {
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 0;
}

.infoitem {
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
  color: rgb(34, 127, 208);
}

.login-button,
.logout-button {
  background-color: rgb(34, 127, 208);
  border: none;
  color: #e7e7e7;
  padding: 14px 32px;
  margin: auto auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  -moz-appearance: button;
  appearance: button;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.177);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login-button:hover,
.logout-button:hover {
  background-color: #ffeb3b;
  color: black;
}

canvas:empty {
  display: initial;
}

:root {
  /* variables */
  --first-color: #e2cb00;
  --first-color-alt: #ffeb3b;
  --text-color: #000;
}
.button-loader {
  border: none;
  outline: none;
  display: none;
  position: relative;
  padding: 14px 32px;
  margin: auto auto 0.2rem auto;
  text-align: center;
  background-color: var(--first-color);
  color: var(--text-color);
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 15px 20px rgba(229, 211, 46, 0.222);
  overflow: hidden;
  cursor: wait;
}
.button-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    var(--first-color-alt) 0.75rem,
    var(--first-color-alt) 1.5rem
  );
  animation: load 1s infinite linear;
}
.button-text {
  position: relative;
}
/* Loading button animation */
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}
