@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.outer-div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 14px;
  height: 450px;
  width: 340px;
  z-index: 999;
  position: absolute;
  filter: drop-shadow(2px 8px 18px rgba(0, 0, 0, 0.075));
  top: 50%;
  left: 50%;
  transition: right linear 0.2s;
  margin: -200px 0 0 -170px;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.account-header {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.account-main {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.bot {
  margin: 0 auto 0 0;
  width: 110px;
  filter: drop-shadow(0 14px 14px rgba(0, 0, 0, 0.164));
}

.bot-after {
  margin: 0 auto 0 0;
  width: 110px;
  filter: drop-shadow(0 14px 14px rgba(0, 0, 0, 0.164));
}

.account-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 55%;
  height: 80%;
  /* margin: 0 0 0 auto; */
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background-color: #5bc236;
  filter: drop-shadow(4px 14px 14px rgba(0, 0, 0, 0.164));
}

.account-details::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #5bc236;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -20px;
}

.account-details-loggedin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 55%;
  height: 80%;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background-color: #1982fc;
  filter: drop-shadow(4px 14px 14px rgba(0, 0, 0, 0.164));
}

.account-details-loggedin::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #1982fc;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -20px;
}

.list {
  list-style: none;
  margin: -1rem 0.5rem 0 0.5rem;
  padding-inline-start: 0;
  color: #ffffff;
}

.listitem {
  font-size: 13.5px;
  font-weight: 400;
  text-align: left;
  padding: 2px 10px;
}

.infoitem {
  font-size: 13.5px;
  font-weight: 400;
  text-align: center;
  padding: 0 0.7rem;
  margin-top: -0.9rem;
  color: #fff;
}

.login-button {
  background-color: #1982fc;
  border: none;
  color: #ffffff;
  padding: 14px 32px;
  margin: auto auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  -moz-appearance: button;
  appearance: button;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.177);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.logout-button {
  background-color: #fc1919;
  border: none;
  color: #ffffff;
  padding: 14px 32px;
  margin: auto auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  -moz-appearance: button;
  appearance: button;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.177);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login-button:hover,
.logout-button:hover {
  background-color: #ffeb3b;
  color: black;
}

canvas:empty {
  display: initial;
}

:root {
  /* variables */
  --first-color: #e2cb00;
  --first-color-alt: #ffeb3b;
  --text-color: #000;
}
.button-loader {
  border: none;
  outline: none;
  display: block;
  position: relative;
  padding: 14px 32px;
  margin: auto auto;
  width: 90%;
  text-align: center;
  background-color: var(--first-color);
  color: #000;
  font-size: 16px;
  border-radius: 12px;
  -moz-appearance: button;
  appearance: button;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.177);
  transition: all 0.3s ease 0s;
  overflow: hidden;
  cursor: wait;
}
.button-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    var(--first-color-alt) 0.75rem,
    var(--first-color-alt) 1.5rem
  );
  animation: load 1s infinite linear;
}
.button-text {
  position: relative;
}
/* Loading button animation */
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}

.menu-open {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  filter: drop-shadow(4px 14px 14px rgba(0, 0, 0, 0.164));
  background-color: #000;
  cursor: pointer;
  overflow: visible;
  z-index: 9;
}

.menu-open span,
.menu-open span::before,
.menu-open span::after {
  background: #e2cb00;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.menu-open span:before,
.menu-open span:after {
  content: "";
}
.menu-open span {
  right: 12px;
  top: 25px;
  width: 25px;
}
.menu-open span:before {
  left: 5px;
  top: -10px;
  width: 15px;
}
.menu-open span:after {
  left: 5px;
  top: 10px;
  width: 15px;
}

.menu-open.close span {
  transform: rotate(-45deg);
  top: 25px;
  width: 25px;
}
.menu-open.close span:before {
  top: 0px;
  left: 0px;
  transform: rotate(90deg);
  width: 25px;
}
.menu-open.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

.discount-button {
  border: 2px solid #5bc236;
  color: #5bc236;
  padding: 14px 32px;
  margin: 0 0 -2rem 0;
  width: 80%;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  -moz-appearance: button;
  appearance: button;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.discount-button:hover {
  background-color: #5bc236;
  color: #fff;
}
